/* .plus-jakarta-sans{
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body{
    font-family: "Plus Jakarta Sans",sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
/* NavBar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a{
    color: #222222;
    text-decoration: none;
    margin-right: 1rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials,.f-info-links,.f-info-brands{
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.f-info-socials i{
    font-size: 1rem;
    margin: 1rem;
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border : none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Button */
.btns{
    display: flex;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Overlay Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* Show-Image */

.show-img{
    height: 30vh;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}



#map { 
    height: 400px;
    width: 80vh;
}

